@media (min-width: 1025px){
	.page{
		max-width:1170px;
		margin:0 auto;
		background:#101329;
		position:relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100%;
	}
	body{
		background:#3d3d69  !important;
	}
	.main-navbar.sticky.sticky-pin {
		width: 1170px;
	}
	.horizontalMenu>.horizontalMenu-list>li>a .fa{
		margin-right:0px !important;
	}
	.navbar{
		max-width:1170px;
		margin:0 auto;
	}
	.vh {
		height: 100vh;
	}
	.navbar.land-navbar {
		max-width: 1170px;
		margin: 0 auto;
	}
	.app-sidebar{
		left: auto !important;
	}
    .app .main-header.side-header{
		left: auto !important;
		right: auto !important;
		width: 1170px !important;
	}
	.second-sidemenu{
		left:auto !important;
		margin-left:100px;
	}
	.main-body{
		display: inherit;;
	}
	.main-sidebar.side-menu{
		left:auto;
	}
	.main-header.side-header{
		left: auto !important;
		right: auto !important;
		width: auto !important;
	}
	.main-sidebar-hide .side-menu {
		left: auto !important;
	}
	.modal-open .main-sidebar{
		z-index: 999;
	}
	.dark-theme .main-sidebar-sticky{
		box-shadow:none !important;
	}
	.dark-theme .side-header, .dark-theme .main-navbar{
		box-shadow:0 0px 2px 0 rgb(16, 19, 41) !important
	}
}